{{yield}}

{{#paper-card}}
  <md-card-title>
    <span class="md-title">{{survey.name}}</span>
  </md-card-title>

  {{paper-divider}}

  {{#paper-card-content}}
    {{#paper-item class="md-2-line"}}
      {{#if engagement.coachee.thumbImg}}
        <img class="md-avatar" src="{{engagement.coachee.thumbImg}}">
      {{/if}}

      <div class="md-list-item-text">
        <h3 class="list_item-title">Engagement for {{engagement.coachee.name}}</h3>
        <h4 class="list_item-subtitle">Coached by {{engagement.coach.name}}</h4>
      </div>
    {{/paper-item}}

    {{#each questions as |question|}}
      {{survey-response-question model=question registerAction='registerQuestionComponent'}}
    {{/each}}
  {{/paper-card-content}}

  {{paper-divider}}

  {{#paper-card-content}}
    <div layout="row" layout-align="end center">
      {{#paper-button raised=true primary=true onClick=(action 'submit')}}
        Send response
      {{/paper-button}}
    </div>
  {{/paper-card-content}}

{{!--
<div class='temp-test-component'>
  <p>-- FOR TESTING ONLY, REMOVE WHEN FINISHED --</p>
  <button {{action 'testSuccess'}}>Success</button>
  <button {{action 'testFailure'}}>Fail</button>
</div> --}}

{{/paper-card}}
