{{yield}}

<h1 class="survey_response-title">{{survey.name}}</h1>

<div class="survey_response-details">
	<div class="list_item">
		{{#if engagement.coachee.thumbImg}}
			<img class="list_item-icon" src="{{engagement.coachee.thumbImg}}">
		{{/if}}
		<span class="list_item-title">Engagement for {{engagement.coachee.name}}</span>
		<span class="list_item-subtitle">Coached by {{engagement.coach.name}}</span>
	</div>
</div>

<div class="survey_response-container">
	{{#each questions as |question|}}
		{{survey-response-question model=question registerAction='registerQuestionComponent'}}
	{{/each}}
</div>

<button class="survey_response-submit"{{action 'submit'}}>Send Response</button>

{{!--<div class='temp-test-component'>
	<p>-- FOR TESTING ONLY, REMOVE WHEN FINISHED --</p>
	<button {{action 'testSuccess'}}>Success</button> <button {{action 'testFailure'}}>Fail</button>
</div>--}}
