{{yield}}

<h1 class="survey_response-title">{{survey.name}}</h1>

<div class="survey_response-details">
	<div class="list_item">
		<span class="list_item-title">For a coaching engagement with {{engagement.coachee.name}}</span>
	</div>
</div>

<div class="survey_response-container">
	{{#each questions as |question|}}
		{{survey-response-question model=question registerAction='registerQuestionComponent'}}
	{{/each}}
</div>

<div class="submit-container">
	<button {{action 'submit'}}>Submit Responses</button>
</div>

{{!--<div class='temp-test-component'>
	<p>-- FOR TESTING ONLY, REMOVE WHEN FINISHED --</p>
	<button {{action 'testSuccess'}}>Success</button> <button {{action 'testFailure'}}>Fail</button>
</div>--}}
